<VirtualHost *:80>
     ServerName {{ gitlab_hostname }}
     DocumentRoot /home/{{ gitlab_user }}/gitlab/public
     <Directory /home/{{ gitlab_user }}/gitlab/public>
         Options -MultiViews
     </Directory>
  </VirtualHost>

